.git
vendor
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
.DS_Store
docker-compose.yml
Dockerfile
.dockerignore
.github
/tests
/storage/*
!/storage/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/public/build
